<a href="https://colab.research.google.com/github/sarathkumar000/dataAnalysis/blob/main/dataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
file1 = open("StockData_2020-09-15_60417_ASIANPAINT.csv", "r")
file1.name

'StockData_2020-09-15_60417_ASIANPAINT.csv'

In [29]:
header = ['instrument_token','tradable','last_price','last_quantity','average_price','volume','buy_quantity','sell_quantity','ohlc_open','ohlc_high','ohlc_low','ohlc_close','change',
          'last_trade_time','buy0quantity','buy0price','buy0orders','buy1quantity','buy1price','buy1orders','buy2quantity','buy2price','buy2orders','buy3quantity','buy3price','buy3orders',
          'buy4quantity','buy4price','buy4orders','sell0quantity','sell0price','sell0orders','sell1quantity','sell1price','sell1orders','sell2quantity','sell2price','sell2orders',
          'sell3quantity','sell3price','sell3orders','sell4quantity','sell4price','sell4orders','timestamp','received timestamp']
import pandas as pd
df = pd.read_csv('StockData_2020-09-15_60417_ASIANPAINT.csv',names=header)
df


#df.to_csv("StockData_2020-09-15_60417_ASIANPAINT.csv", header, index=False)

        instrument_token  ...          received timestamp
0                  60417  ...  2020-09-15 08:52:57.253963
1                  60417  ...  2020-09-15 08:53:15.250926
2                  60417  ...  2020-09-15 08:56:16.447382
3                  60417  ...  2020-09-15 08:59:17.042977
4                  60417  ...  2020-09-15 09:00:00.242517
...                  ...  ...                         ...
124401             60417  ...  2020-09-21 11:50:52.970222
124402             60417  ...  2020-09-21 11:50:53.590578
124403             60417  ...  2020-09-21 11:50:54.102275
124404             60417  ...  2020-09-21 11:50:54.719070
124405             60417  ...  2020-09-21 11:50:55.944619

[124406 rows x 46 columns]